.center-contact {
	margin-top: 1em;
	margin-bottom: 2em;
	padding-bottom: 2em;
}
.btn-cust {
	background-color: #27888b !important;
	border-color: #27888b !important;
}
.btn-cust:hover {
	background-color: #1c6163 !important;
	border-color: #1c6163 !important;
}