.menu {
   background: #202024 repeat left top; /* This pattern is downloaded from www.subtlepatterns.com */
  top: 0;
  left: -250px;
  height: 100%;
  position: fixed;
  width: 250px;
  transition: left .5s;
}
.menu.ouvert {
    background: #202024 repeat left top; /* This pattern is downloaded from www.subtlepatterns.com */
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  width: 250px;
  transition: left .5s;
}
#main.ouvert {
    margin-left: 250px;
    transition: margin-left .5s;
}