/* Polices */

@import 'https://fonts.googleapis.com/css?family=Pathway+Gothic+One';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

/*General Content*/

*{font-family: sans-serif;}

html, body {
	margin: 0;
	transition: all 1.50s;
}

/*Navbar*/

.navbar-inverse {
	border-color: #666 !important;
	border-left-width: 0 !important;
	border-right-width: 0 !important;
	/*background-color: transparent !important;*/
	color: #fff !important;
	transition: all 0.30s;
	visibility: hidden;
	opacity: 0;
}
.navbar {
	border-radius: 0 !important;
	transition: all 0.50s;
	padding: 0;
	margin: 0 !important;
}
.navbar-brand {
	font-size: 30px !important;
	font-family: 'Pathway Gothic One', sans-serif;
	text-transform: uppercase;
	color: #f1f1f1 !important;
	transition: all 0.50s;
	height: 8vh !important;
	padding: 0 !important;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 5vw;
	align-items: center;
	background-color: rgba(255,255,255,0.1);
}
.navbar-inverse .navbar-nav > li > a {
	font-size: 20px;
	font-weight: 600;
	color: rgba(255,255,255,0.2);
	font-family: 'Pathway Gothic One', sans-serif;
	text-transform: uppercase;
	padding: 0 10px;
}
.navbar-inverse .navbar-nav > li {
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar-inverse .navbar-collapse {
	display: flex;
	justify-content: center;
}
.navbar-inverse .navbar-nav > .open > a {
	background-color: transparent !important;
	border-top: 1px solid #9d9d9d !important;
	border-bottom: 1px solid #9d9d9d !important;
}
.dropdown-menu {
	padding: 15px 0 !important;
	background-color: #222 !important;
}
.dropdown .dropdown-menu {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	max-height: 0;
	display: block;
	overflow: hidden;
	opacity: 0;
}
.dropdown.open .dropdown-menu {
	max-height: 300px;
	opacity: 1;
}
.dropdown-menu > li > a:hover {
	color: #fff !important;
	background-color: transparent !important;
	text-shadow: 1px 1px 0 rgba(0,0,0,.6), 0 0 6px cyan, 0 0 10px #66ff99;
}
.dropdown-menu > li > a{
	color: #fff !important;
}
.navbar-inverse .navbar-header .navbar-brand:hover{
	transition: all 0.50s;
	background-color: transparent;
}
.navbar-inverse .nav > li > a:hover {
	color: #fff;
}
.navbar-header {
	width: 10vw;
	display: flex;
	justify-content: center;
	height: 8vh;
}
.btn-tyjow {
	display: block;
	width: 24px;
	height: 2px;
	background-color: #fff;
	font-size: 0px;
	margin-top: 5px;
}

/*Scroll JS*/

.navbar-inverse.scroll {
	visibility: visible;
	transition: all 0.30s;
	opacity: 1;
}
.navbar.scroll {
	padding: 2px 0;
}
.navbar-brand.scroll {
	font-size: 20px !important;
}

/*Header*/

#main {
	top: 0;
	font-family: "Roboto";
	position: relative;
	background-color: #fff;
}

#intro {
	top: 0;
	border-bottom: none;
	text-align: center;
}
#intro .main-header {
    height: 100vh;
	background: url("../img/tyjow.jpg") no-repeat;
	background-size: 35%;
	position: relative;
	background-position: center 15vh;
}
#intro .welcome {
    position: relative;
	margin: 0 auto;
	height: 100vh;
	max-width: 100%;
	margin-top: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#intro .welcome > h2 {
	font-size: 85px;
	letter-spacing: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #3F979B;
	text-transform: uppercase;
}
#intro .scrollBas {
    display: block;
    text-align: center;
    width: 50vw;
    position: absolute;
    left: 50vw;
    margin-left: -25vw;
    bottom: 70px;
}
#intro .scrollBas > p {
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
	color: #3F979B;
}
.icon-arrow-bas {
    background-image: url("../img/chevron-bas.png");
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Core*/

#core {
    position: relative;
    border-top: none;
}
#core .mid {
    position: relative;
    height: 135vh;
}
#core .mid .core-img {
    height: 100vh;
	background: url("../img/code-academie.png") no-repeat;
	background-size: 50%;
	position: relative;
	background-position: center 15vh;
}
#core .mid .title {
    color: #666;
    text-align: left;
    border: 9px solid #666;
    z-index: 3;
    position: absolute;
    top: 70vh;
    left: 14vw;
    font-size: 45px;
	padding: 10px 20px;
	width: 20vw;
}
.content-info {
    position: relative;
}
#core .mid .box-text {
    z-index: 2;
    position: absolute;
    width: 20vw;
    top: 15vh;
    left: 60vw;
}
.content-info .box-text {
    position: absolute;
    font-size: 28px;
    padding: 40px;
    color: #fff;
    text-align: center;
}
.content-info .box-text .box-anim .top-line {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    transition-delay: 0s;
    top: 0;
    left: 0;
    height: 3px;
    width: 0%;
}
.content-info .box-text.visible .top-line {
    width: 100%;
}
.content-info .box-text .box-anim .right-line {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
    top: 0;
    right: 0;
    width: 3px;
    height: 0%;
}
.content-info .box-text.visible .right-line {
    height: 100%;
}
.content-info .box-text .box-anim .bot-line {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    transition-delay: 0.4s;
    bottom: 0;
    right: 0;
    height: 3px;
    width: 0%;
}
.content-info .box-text.visible .box-anim .bot-line {
	width: 100%;
}
.content-info .box-text .box-anim .left-line {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
    transition-delay: 0.6s;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 0%;
}
.content-info .box-text.visible .box-anim .left-line {
	height: 100%;
}
.content-info .box-text .box-anim div {
    position: absolute;
    background-color: #fff;
}

#core .mid .first-letter {
    z-index: 3;
    position: absolute;
    left: 50vw;
    margin-left: -120px;
    top: 80vh;
    font-size: 300px;
    filter: blur(5px);
    color: #666;
}
.letter-content {
    pointer-events: none;
}
#core .mid .snd-letter {
    z-index: 3;
	position: absolute;
	left: 15vw;
	top: 155vh;
	font-size: 200px;
	filter: blur(1px);
	color: #666;
}
#core .mid .third-letter {
    z-index: 3;
    position: absolute;
    left: 70vw;
    top: 185vh;
    font-size: 350px;
    filter: blur(5px);
    color: #666;
}
#core .mid .fourth-letter {
    z-index: 3;
    position: absolute;
    left: 25vw;
    top: 265vh;
    font-size: 150px;
	filter: blur(1px);
	color: #666;
}
#core .mid .fifth-letter {
    z-index: 3;
	position: absolute;
	left: 50vw;
	top: 240vh;
	font-size: 200px;
	filter: blur(3px);
	color: #666;
}

#core .mid .img1 {
    z-index: 1;
    position: absolute;
    width: 35vw;
    top: 15vh;
    left: 10vw;
}
.content-info .main-content-img.visible {
    opacity: 0.7;
    border: 0px solid #fff;
}
.content-info .main-content-img.visible:hover {
    opacity: 1;
}
.content-info .main-content-img.bloc {
    background-color: transparent;
    position: absolute;
    overflow: hidden;
}
.content-info .main-content-img {
    -webkit-transition-property: opacity,border;
    transition-property: opacity,border;
    -webkit-transition-duration: 2.4s;
    transition-duration: 2.4s;
    transition-delay: 0s;
    /*cursor: pointer;*/
    opacity: 0;
}
.content-info .img-hover {
    -webkit-transition-property: opacity,border;
    transition-property: opacity,border;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    transition-delay: 0s;
    z-index: 99;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0px solid #fff;
    pointer-events: none;
}
.content-info .main-content-img.bloc.visible:hover .img-hover {
    border: 10px solid #fff;
}
.content-info .main-content-img.bloc img {
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: auto;
}

#core .mid2 {
    position: relative;
    height: 135vh;
}
#core .mid2 .mid2-img {
    height: 100vh;
    background: url("../img/about-me.jpg") no-repeat;
    background-size: 50%;
    position: relative;
    background-position: center 15vh;
}
#core .mid2 .title {
    color: #4ab0b5;
	text-align: left;
	border: 9px solid #4ab0b5;
	z-index: 3;
	position: absolute;
	top: 65vh;
	left: 65vw;
	font-size: 40px;
	padding: 10px 35px;
	width: 20vw;
}
#core .mid2 .box-text {
    z-index: 2;
    position: absolute;
    width: 20vw;
    top: 30vh;
    left: 10vw;
}
section {
	width: 100%;
	height: 600px;
	color: #fff;
	background-color: #222;
}
@media screen and (max-width: 768px) {
	#intro .welcome > h2 {
		font-size: 45px;
		text-align: center;
		color: #fff;
	}
}
.who > p {
	font-size: 17px;
}
footer {
	width: 100%;
	height: 50px;
	color: #fff;
	background-color: #222;
}