/* Polices */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(../fonts/Roboto-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher'), url(../fonts/Philosopher.ttf) format('truetype');
}

/*General Content*/

* {
	font-family: 'Roboto', sans-serif;
}
html, body {
	margin: 0;
}
canvas {
	background-color: #222;
	width: 100vw;
	height: 100vh;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -9999;
}
.parallax {
    background-image: url("fake_img_parallax.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.paral-top {
	height: 400px;
}

/*Navbar*/

.navbar-inverse {
	border-color: #666 !important;
	border-left-width: 0 !important;
	border-right-width: 0 !important;
	background-color: transparent !important;
	color: #fff !important;
	transition: all 0.30s;
}
.navbar {
	border-radius: 0 !important;
	padding: 15px 0;
	transition: all 0.50s;
}
.navbar-brand {
	font-size: 40px !important;
	font-family: 'Philosopher', serif;
	color: #f1f1f1 !important;
	transition: all 0.50s;
}
.navbar-inverse .navbar-nav > li > a {
	font-size: 17px;
	font-weight: 300;
	color: #f1f1f1 !important;
}
.navbar-inverse .navbar-collapse {
	display: flex;
	justify-content: center;
}
.navbar-inverse .navbar-nav > .open > a {
	background-color: transparent !important;
	border-top: 1px solid #9d9d9d !important;
	border-bottom: 1px solid #9d9d9d !important;
}
.dropdown-menu {
	padding: 15px 0 !important;
	background-color: #222 !important;
}
.dropdown .dropdown-menu {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	max-height: 0;
	display: block;
	overflow: hidden;
	opacity: 0;
}
.dropdown.open .dropdown-menu {
	max-height: 300px;
	opacity: 1;
}
.dropdown-menu > li > a:hover {
	color: #fff !important;
	background-color: transparent !important;
	text-shadow: 1px 1px 0 rgba(0,0,0,.6), 0 0 6px cyan, 0 0 10px #66ff99;
}
.dropdown-menu > li > a{
	color: #fff !important;
}
.navbar-inverse .navbar-header .navbar-brand:hover{
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,.6), 0 0 6px cyan, 0 0 10px #66ff99;
	transform: translate(0) rotate(360deg);
	transition: all 0.60s;
}
.navbar-inverse .nav > li > a:hover {
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,.6), 0 0 6px cyan, 0 0 10px #66ff99;
	transition: all 0.60s;
}
.navbar-nav {
	margin-left: 70px !important;
	padding-top: 5px;
}

/*Scroll JS*/

.navbar-inverse.scroll {
	visibility: hidden;
	transition: all 0.30s;
	opacity: 0;
}
.navbar.scroll {
	padding: 2px 0;
}
.navbar-brand.scroll {
	font-size: 20px !important;
}
.welcome h2.scroll {
	transition: all 0.50s;
	opacity: 0;
}


/*Header*/

header {
	width: 100%;
	height: 600px;
	color: #fff;
	background-color: #222;
}
.flex-col {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Core*/

section {
	width: 100%;
	height: 600px;
	color: #fff;
	background-color: #222;
}
.welcome > h2 {
	font-size: 90px;
	font-family: 'Philosopher', serif;
	color: #fff;
	text-shadow: 0.1em 0.05em 0.05em #404040;
	transition: all 0.50s;
}
@media screen and (max-width: 768px) {
	.welcome > h2 {
		font-size: 45px;
		text-align: center;
		color: #fff;
		text-shadow: 0.1em 0.05em 0.05em #404040;
		transition: all 0.50s;
		margin-top: 170px !important;
	}
}
.who > p {
	font-size: 17px;
}
footer {
	width: 100%;
	height: 50px;
	color: #fff;
	background-color: #222;
}