<div class="core-game container">
	
	<div class="content-jeux text-left">
		<iframe class="jeux" ng-src="{{template.url | trusted}}" width="800" height="600" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0"></iframe>
	</div>

	<div class="content-info">
		<div class="content-inf">	
			<h3>Comment jouer ?</h3>
			<img src="img/arrow.png">
			<div class="about-jeux">
				<ul>
					<li>
						Déplacement :
						<ul>
							<li> Touche directionnelle de gauche</li>
							<li> Touche directionnelle de droite</li>
						</ul>
					</li>
					<li>
						Saut :
						<ul>
							<li>Touche directionnelle du haut</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>