<div class="core">
	
	<div class="bloc">Je suis un développeur web Front-End, apprenant de la Code-academie, et auteur de plusieurs réalisation de projets professionel et personnel. Passionné, j'ai acquis de l'expérience tout au long de ma formation.
	</div>

	<div class="bloc-comp text-left">
		<h2>Mes compétences</h2>
		<h3 class="text-center">Front-End</h3>
		<div class="skill">
			<div ng-repeat="comp in comps" class="logo">
				<img src="{{comp.img}}"/>
				<p>{{comp.text}}</p>
			</div>
		</div>
		<h3 class="text-center">WordPress</h3>
		<div class="skill">
			<div ng-repeat="comppress in compspress" class="logo">
				<img src="{{comppress.img}}"/>
				<p>{{comppress.text}}</p>
			</div>
		</div>
	</div>

</div>