<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jonathan Platon</title>
	<link rel="icon" type="image/png" href="img/ico-moi.png">

	<link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/hover.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="css/nav.css">
	<link rel="stylesheet" type="text/css" href="css/contact.css">
	<link rel="stylesheet" type="text/css" href="css/loader.css">

	<script type="text/javascript" src="lib/js/jquery.js"></script>
	<script type="text/javascript" src="lib/js/angular.js"></script>
	<script type="text/javascript" src="lib/js/angular-route.js"></script>
	<script type="text/javascript" src="lib/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/js/hover.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/hamb.js"></script>
	<script type="text/javascript" src="js/service/service.js"></script>
	<script type="text/javascript" src="js/controller/data.js"></script>
	<script type="text/javascript" src="js/filters/filters.js"></script>

</head>
<body ng-app="app" ng-controller="MainCtrl">

	<div id="loader-wrapper">
		<div id="loader"></div>

		<div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
	</div>

	<div id="main">
	<div id='hero' class="content">
		<div class="row">
		<div class="col-md-12 nav-flex">
			<div class="head-nav">
				<div class="me">
					<h1>Jonathan Platon</h1>
					<h2>Développeur Web</h2>
				</div>
				<div class="menu-burger">
					<h4>Menu</h4>
					<div id="nav-icon1">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div class="description">
				<div class="row">
					<h1 class="title">Développeur Web</h1>
					<h2 class="info">Autodidacte et passionné</h2>
				</div>
			</div>
			<div class="menu">
				<ul>
					<li ng-repeat="menu in menus" class="item" ng-class="{'current': menu.title == states.activeItem, shin: $index == 4}" ng-click="states.activeItem=menu.title">
						<a href="{{menu.link}}">{{menu.title}}</a>
					</li>
				</ul>
				<ul>
					<li><a href="https://github.com/Tyjow" target="_blank"><i class="fa fa-github"></i> Github</a></li>
					<li><a href="https://fr.linkedin.com/in/jonathan-platon-309248122" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
					<li><a href="http://tyjow.github.io/Challenge_3/Cv.xml" target="_blank"><i class="fa fa-external-link"></i>
 					Visualiser mon CV</a></li>
 					<li><a target="_self" href="media/Cv.pdf" download="Cv Jonathan Platon.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>
 					Télécharger mon CV</a></li>
				</ul>
			</div>		
		</div>
		</div>
		<div class="layer-1" data-parallax-depth="-0.1"><img src="img/html5.png"></div>
		<div class="layer-2" data-parallax-depth="0.4"><img src="img/css3.png"></div>
		<div class="layer-3" data-parallax-depth="0.1"><img src="img/js.png"></div>
		<div class="layer-4" data-parallax-depth="0.3"><img src="img/jquery.png"></div>
		<div class="layer-5" data-parallax-depth="0.2"><img src="img/angular.png"></div>
	</div>
		
	<ul class='social'>
	  <li>
	    <a class="fa fa-facebook" href="https://fr-fr.facebook.com/jonathan.platon.3" target="_blank">    
	      <span>Facebook</span>
	    </a> 
	  </li>
	  
	  <li>
	    <a class="fa fa-linkedin" href="https://fr.linkedin.com/in/jonathan-platon-309248122" target="_blank">
	      <span>LinkedIn</span>
	    </a>
	  </li>

	  <li>
	    <a class="fa fa-envelope" href="#/contact">    
	      <span>Contact</span>
	    </a> 
	  </li>
	</ul>

	<div class="container main" ng-view></div>

	<footer>
		<div class="about">
			<div class="first firstme">Je suis un développeur Web, apprenant de la Code Académie, et auteur de plusieurs réalisation de projets professionels et personnels. Passionné, j'ai acquis de l'expérience tout au long de ma formation.
			</div>
			<ul class="first soc">
				<li>
					<a href="https://github.com/Tyjow" target="_blank">
						<i class="fa fa-github"></i>
					</a>
					<p>Suivez-moi sur<a href="https://github.com/Tyjow" target="_blank">Github</a></p>
				</li>
				<li>
					<a href="https://fr.linkedin.com/in/jonathan-platon-309248122" target="_blank">
						<i class="fa fa-linkedin"></i>
					</a>
					<p>Voir mon profil sur<a href="https://fr.linkedin.com/in/jonathan-platon-309248122" target="_blank">LinkedIn</a></p>
				</li>
			</ul>
		</div>
		<p>Made with <img src="img/love.png"> in Rennes, par Jonathan Platon</p>
	</footer>
	</div>
	<script type="text/javascript" src="js/paralayer.js"></script>
</body>
</html>